{% extends "UploadMulti/base.html" %}

{% block photos_content %}
    <h4>
        类别管理
    </h4>
<center>
    <table class="table table-bordered table-striped" >
        <thead >
            <tr>
                <th>ID</th>
                <th>名称</th>
                <th>类别</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for vo in typeslist %}
            <tr>
                <td>{{ vo.ChannelID}}</td>
                <td>{{ vo.ChannelName}}</td>
                <td>{{ vo.ChannelCode}}</td>
                <td width="30%">
                    <a href="javascript:if(confirm('确认删除吗?'))window.location='{% url 'UploadMulti:UploadMulti_typedel' vo.ChannelID %}'">删除</a>
                    <!--<a href="{% url 'UploadMulti:UploadMulti_typedel' vo.ChannelID %} javascript:if(confirm('确认删除吗?'))window.location='del.asp'" class="view-link">删除</a>-->
                    <a href="{% url 'UploadMulti:UploadMulti_typeedit' vo.ChannelID %}" class="view-link">编辑</a>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</center>
{% endblock %}